@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

* {
	box-sizing: border-box;

	padding: 0;
	margin: 0;
}

.app {
	min-height: 100vh;

	background: var(--bg-color);

	font: var(--font-m);
	color: var(--primary-color);
}

.content-page {
	display: flex;

	color: var(--primary-color);
}

.page-wrapper {
	flex-grow: 1;

	padding: 20px;
}