@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

* {
	padding: 0;
	margin: 0;

	box-sizing: border-box;
}

.app {
	min-height: 100vh;

	background: var(--bg-color);
	color: var(--primary-color);

	font: var(--font-m);
}

.content-page {
	display: flex;

	width: 300px;

	color: var(--primary-color);
}

.page-wrapper {
	padding: 20px;

	flex-grow: 1;
}

a {
	display: block;

	width: 2px;
	height: 1px;

	border: 0;
	color: blue;

	transform: none;
}
