.Input {
	width: 100%;

	padding: 8px;

	background: inherit;
	border: 1px solid #ccc;
	border-radius: 5px;

	font: var(--font-m);
	color: var(--primary-color);

	transition: border-color 0.3s ease; /* Плавное изменение цвета границы */

	outline: none; /* Убираем обводку при фокусе */
}

.Input::placeholder {
	color: var(--primary-color);

	opacity: 0.7;
}

/* Стили для hover состояния */
.Input:hover {
	border-color: #888;
}

/* Стили для фокусированного состояния */
.Input:focus {
	box-shadow: 0 0 5px var(--secondary-color); /* Добавляем тень при фокусе */

	border-color: var(--secondary-color);
}

.readonly {
	opacity: .7;
}