.app.dark {
	--bg-color: #222;
	--bg-color-secondary: #373737;
	--default-color: #fff;
	--primary-color: #61fcd1;
	--accent-color: #fdd56c;
	--secondary-color: #8663f3;
	--secondary-color-opacity: rgb(204 181 255 / 80%);
	--white: #fff;
}
