.app.dark {
    --bg-color: #373737;
    --inverted-bg-color: #f4f4f4;

    --primary-color: #b66fff;
    --secondary-color: #ffffff;

    --inverted-primary-color: #0077ff;
    --inverted-secondary-color: #333333;
}