:root {
	--bg-color: #f4f4f4;
	--bg-color-secondary: #c3e0fd;
	--default-color: #333;
	--primary-color: #56b8ff;
	--accent-color: #fff4aa;
	--secondary-color: #f893d3;
	--secondary-color-opacity: rgb(248 147 211 / 30%);
	--white: #fff;
}
