.app.light {
    --bg-color: #f4f4f4;
    --inverted-bg-color: #373737;

    --primary-color: #0077ff;
    --secondary-color: #333333;

    --inverted-primary-color: #b66fff;
    --inverted-secondary-color: #ffffff;
}