.app_orange_theme {
	--bg-color: #f4f4fb;
	--bg-color-secondary: #fbf7f4;
	--default-color: #333;
	--primary-color: #ed7002;
	--accent-color: #ffd64f;
	--secondary-color: #c55002;
	--secondary-color-opacity: #d36161;
	--white: #fff;
}
