.ProfileCard {
	width: 100%;
}

.editing {
	
}

.data {
	margin-top: 30px;
}

.input {
	margin-top: 10px;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 300px;
}

.error {
	display: flex;
	justify-content: center;
	align-items: center;
}
