.Navbar {
	display: flex;
	align-items: center;

	width: 100%;
	height: var(--navbar-height);

	padding: 20px;

	background: var(--bg-color-secondary);
}

.actions {
	display: flex;

	gap: 15px;

	margin-left: auto;

	border-radius: 8px;
}

.appName {
	width: var(--sidebar-width);

	margin-left: 15px;
}

